<html>
    <head>
        <title>Failures</title>
    </head>
    <body>
        <h1>Failures</h1>
        <table>
            <tr>
                <th></th>
                {% for t in stage_list %}
                    <th>{{t.name}}</th>
                {% endfor %}
            </tr>
            {% for s in service_types %}
            <tr>
                <td>{{s.name}}</td>
                {% for t in stage_list %}
                    <td>
                        <a href="/failures/{{s.value}}/{{t.value}}">View</a>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>