<html>
<head>
    <title>{{ pipeline_name }} - OctoBot3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <style>
        .entry {
            font-size: 1.5rem;
            margin: 0.2rem;
        }
    </style>
</head>
<body>
    <p><a href="/">&lt;&lt; Back</a></p>
    <h1>Items</h1>
    <form action="/pipeline/{{ pipeline_name }}/items/add" method="post">
        <input type="text" name="url">
        <input type="submit" value="Add">
    </form>
    <table>
        <tr>
            <th>Fetching</th>
            <th>Downloading</th>
            <th>Posting</th>
            <th>Cleaning</th>
            <th>Success</th>
            <th>Failed</th>
        </tr>
        <tr>
            <td>{{ status['fetching'] }}</td>
            <td>{{ status['downloading'] }}</td>
            <td>{{ status['posting'] }}</td>
            <td>{{ status['cleaning'] }}</td>
            <td>{{ status['done'] }}</td>
            <td>{{ status['failed'] }}</td>
        </tr>
    </table>
    <h1>Subscriptions</h1>
    {% for service_type, service_func, source_list, slen, options in subs %}
        <h2>{{ service_type }}.{{ service_func }} ({{ slen }})</h2>
        <p>
            <form action="/pipeline/{{ pipeline_name }}/subs/add" method="post">
                {% if options %}
                    <select name="name">
                        {% for op in options %}
                            <option value="{{ op }}">{{ op }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="text" name="name">
                {% endif %}
                <input type="hidden" name="service" value="{{ service_type }}">
                <input type="hidden" name="func" value="{{ service_func }}">
                <input type="submit" value="Add">
            </form>
        </p>
        <table>
        {% for id, title, url in source_list %}
            <tr>
                <td>
                    {% if url %}
                        <a class="entry" href="{{ url }}" target="_blank">{{ title or id }}</a>
                    {% else %}
                        <span class="entry" >{{ title or id }}</span>
                    {% endif %}
                </td>
                <td>
                    <form action="/pipeline/{{ pipeline_name }}/subs/delete" method="post"
                          onsubmit="return confirm('Delete {{ title or id }}?');">
                        <input type="hidden" name="service" value="{{ service_type }}">
                        <input type="hidden" name="func" value="{{ service_func }}">
                        <input type="hidden" name="name" value="{{ id }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
</body>
</html>